
@font-face {
    font-family: 'Poppins700';
    src: url(../src/assets/fonts/Poppins/Poppins-SemiBold.ttf);




}
@font-face {
    font-family: 'LibreFranklin700';
    src: url(../src/assets/fonts/Libre-Franklin/static/LibreFranklin-Bold.ttf);




}
@font-face {
    font-family: 'LibreFranklin400';
    src: url(../src/assets/fonts/Libre-Franklin/static/LibreFranklin-Regular.ttf);




}






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;


}
.container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 2100px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #191919;
     
}
.nav__left{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-left: 150px;
    margin-bottom: 10px;
    margin-top: -20px; /* bu satırı ekledik */
    font-weight: bold;
    display: flex;
    font-family:'Poppins700';
    
}
.nav__right{
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    display: inline-block;
    display: flex;
    gap: 30px;
    margin-left: 43%;
    margin-bottom: 10px;
    margin-top: -10px;
    font-family:'Poppins700';

}
.nav__right .abouts_font{
    color: #ffffff;
    
}
.nav__right .abouts_font:hover{
    color: #e32879;

}
.nav__right .blogs_font{
    color: #ffffff;
}
.nav__right .blogs_font:hover{
    color: #e32879;

}
.nav__right .gallerys_font{
    color: #ffffff;
}
.nav__right .gallerys_font:hover{
    color: #e32879;

}
.nav__right .contact_font{
    color: #ffffff;
}
.nav__right .contact_font:hover{
    color: #e32879;

}
.nav__right .abouts_font:hover{
    color: #e32879;

}
.nav__father{
    display: flex;
    margin-bottom: 15px;
}
.home{
    color: #e32879;
}
.n{
    color: #e32879;
}

.image {
        background-image: url(../src/assets/img/hero-bg.jpg.webp);
        height: 800px;
        background-position: center;
        background-position: bottom 20%;
        background-size: cover;
    }


.about_us{
    margin-right: 50%;



    }
.text_1_about{

    margin-right: 65%;

    color: #e32879;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'LibreFranklin700';
    text-align: left;
    letter-spacing: 2px;
}

.text_1{

    color: #e32879;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'LibreFranklin700';
    text-align: left;






}
.tempor{
    margin-right: 155px;
}





.text_sub{

     color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 10px;
    font-family: 'LibreFranklin700';



}

.text_sub_a{
   color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 10px;
    font-family: 'LibreFranklin700';



}
.text_sub_b{
  color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 10px;
    font-family: 'LibreFranklin700';




}

.text_sub_t{
       color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 10px;
    font-family: 'LibreFranklin700';





}
.text_1_o{
    color: #e32879;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'LibreFranklin700';
    text-align: left;
    letter-spacing: 2px;




}
.text_sub_2{

    color: #ffffff;
    font-size: 16px;
    font-family: 'LibreFranklin400';
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.primary_btn{
    font-size: 16px;
    color: #ffffff;
    background: #e32879;
    display: inline-block;
    font-weight: 700;
    padding: 12px 30px 10px;
    font-family: 'LibreFranklin700';
    text-decoration: none;
    line-height: 1.5;
    text-align: left;
    margin-right: 70%;


}
.ut{

    margin-right: 53%;
}
.text{
margin-left: 200px;
padding-top: 250px;


}
.black{
    background: #191919;
    margin-top: 0;
    height: 620px;
}

.photo_1{
    height: 430px;
    width: 570px;
    
}

.photo_title{
display: flex;
gap: 50px;
justify-content: center;
align-items: center;
padding-top: 90px;

}
.text_sub_2_first{
    margin-bottom: 12px;
}

.black_2{
    background: #191919;
    margin-top: 0;
    height: 590px;
}
.title{

    justify-content: center;
    align-items: center;
    text-align: center;
}

.context_card{


    text-align: center;
    background: #222222;
    padding: 46px 50px 0;
    height: 325px;
    width: 380px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 30px;
}
.context_card:hover{

border-bottom: 3px solid #e32879;



}
.design_image{

    height: 47px;
    width: 47px;
}
.context_title_1{

    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'LibreFranklin700';
    margin-top: 33px;
    margin-bottom: 25px;
}

.context_title_2{

    font-size: 16px;
    font-family: 'LibreFranklin400';
    color: #b3b3b3;
    line-height: 26px;
    margin: 0 0 15px 0;
}
.context_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}



.gray{
    
    background: #222222;
    height: 435px;
    padding-top: 100px;

}
.black_3{
    background: #191919;
    margin-top: 0;
    height: 740px;
}


.portfolio_img_1{
    background-image: url(../src/assets/img/portfolio-1.jpg.webp);
    height: 800px;
    width: 600px;
    background-size: cover;
    background-position: top center;
    margin-top: -150px;
    display: flex;
    justify-content: center;
    align-items: center;








  
}
.portfolio_img_1:hover .icons{
    opacity: 1;
    visibility: visible;


}


.portfolio_img_2{
background-image: url(../src/assets/img/portfolio-2.jpg.webp);
height: 400px;
width: 600px;
 background-size: cover;
 background-position: top center;
 margin-top: -150px;
 display: flex;
 justify-content: center;
 align-items: center;


 


}
.portfolio_img_2:hover .icons{
    opacity: 1;
    visibility: visible;


}
.portfolio_img_3{
background-image: url(../src/assets/img/portfolio-3.jpg.webp);
height: 400px;
width: 300px;
background-size: cover;
background-position: top center;
display: flex;
justify-content: center;
align-items: center;



}
.portfolio_img_3:hover .icons{
    opacity: 1;
    visibility: visible;


}
.portfolio_img_4{
    background-image: url(../src/assets/img/portfolio-4.jpg.webp);
    height: 400px;
    width: 300px;
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;



}
.portfolio_img_4:hover .icons{
    opacity: 1;
    visibility: visible;


}

.images{
    display: flex;
    padding-left: 10%;
}

.image_1-2-3{
    flex-direction: column;
}
.image_3-4{
    display: flex;
}



.bi-link-45deg{

    display: inline-block;
    width: 66px;
    height: 66px;
    background: #e32879;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    line-height: 66px;
    margin-right: 15px;
}
.bi-search{

    display: inline-block;
    width: 66px;
    height: 66px;
    background: #e32879;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    line-height: 66px;
    margin-right: 15px;




}
.icons {
    display: flex;
    gap: 6px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.black_4{
    background: #191919;
    height: 1250px;
}






.text_1_number{



    color: #e32879;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'LibreFranklin700';
    letter-spacing: 2px;





}

.text_number{

    color: #ffffff;
   font-size: 45px;
   font-weight: 700;
   margin-top: 18px;
   margin-bottom: 10px;
   font-family: 'LibreFranklin700';



}

.primary_btn_2{
    font-size: 16px;
    color: #ffffff;
    background: #e32879;
    display: inline-block;
    font-weight: 700;
    width: 150px;
    height: 45px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 12px 30px 10px;
 
    font-family: 'LibreFranklin700';
    text-decoration: none;
    line-height: 1.5;
    margin-right: 70%;
    margin-top: 45px;


}

.number_number{

    font-size: 48px;
    color: #e32879;
    font-weight: 700;
    font-family: 'LibreFranklin700';

   
}
.counter_text_1{

    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 12px;
    font-family: 'LibreFranklin700';


}
.counter_text_2{

    font-size: 16px;
    font-family: 'LibreFranklin400';
    color: #b3b3b3;
    line-height: 26px;
    margin: 0 0 15px 0;
}
.counter_item{
    display: flex;
    gap: 50px;
}


.number_counter_items{
display: flex;




}
.number_text{
    margin-top: 20px;
padding-left: 12%;

}
.counter_items{
    margin-top: 20px;
    padding-left: 17%;
}

.photo_card{

text-align: center;
background: #222222;
padding: 36px 40px ;
height: 250px;
width: 540px;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;

display:flex;
gap: 20px; 






}
.testmonial_1{
    height: 128px;
    width: 128px;
    border-radius: 50%;
    margin-top: 20px

    

}
.testmonial_texts{
text-align: left;
margin-top: 30px;
}

.testmonial_text_1{   
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 4px;
    font-family: 'LibreFranklin700';
}
.testmonial_text_2{
font-size: 12px;
color: #e32879;
text-transform: uppercase;
letter-spacing: 1px;


}
.testmonial_text_3{
font-size: 16px;
font-family: 'LibreFranklin400';
color: #b3b3b3;
font-weight: 400;
line-height: 26px;
margin-top: 8px;
margin: 0 0 15px 0;
}
.photo_cards{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 85px;

}
.pink_photo{
    background-image: url(../src/assets/img/pink.jpg);
    height: 370px;
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pink_text{


    font-size: 45px;
    color: #ffffff;
    font-family: 'LibreFranklin700';
    font-weight: 700;
    margin-bottom: 20px;
}

.pink_text_2{

color: #ffffff;
margin-bottom: 45px;
font-size: 16px;
font-family: 'LibreFranklin400';
font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

.pink_btn{
font-size: 16px;
color: #e32879;
background:#ffffff ;
display: inline-block;
font-weight: 700;
font-family: 'LibreFranklin700';
margin-top: 40px;
padding: 12px 30px 10px;
}
.pink_parag_2{
    text-align: center;
}
.black_5{
    background: #191919;
    height: 700px;
}

.member_1{
    width: 330;
    height: 435;
}
.members{
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
margin-top: 60px;
}

.member_item_card{


    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8); 
    opacity: 0;
    transition: all 0.3s ease-in;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #191919;
    height: 400px;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: flex;
    pointer-events: none;
    









  
}
.member_item_par{

    
    font-size: 16px;
    color: #b3b3b3;
    font-family: 'LibreFranklin400';
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;

}
.jg{


    font-size: 22px;
    color: #ffffff;
    font-family: 'LibreFranklin700';
    font-weight: 700;
}
.dg{
    font-size: 12px;
    color: #e32879;
    font-family: 'LibreFranklin400';
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;



}
.member_item:hover .member_item_card{
display: flex;
transform: translate(-50%, -50%) scale(1); 
opacity: 1;
pointer-events: auto;

    
}

.member_item{
    position: relative;
    display: flex;
    
}

.bi-facebook{
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #303030;
    border-radius: 50%;
    margin-right: 3px;

}
.bi-twitter{
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #303030;
    border-radius: 50%;
    margin-right: 3px;


}
.bi-instagram{
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #303030;
    border-radius: 50%;
    margin-right: 3px;


}
.bi-pinterest{
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #303030;
    border-radius: 50%;
    margin-right: 3px;


}
.member_item_title{

margin-bottom: 20px;
}
.gray_2{
background: #222222;
height: 750px;
padding-top: 90px;

}





.blog_title_1{

    color: #e32879;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'LibreFranklin700';
    text-align: left;
    letter-spacing: 2px;






}

.blog_title_sub{

     color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 10px;
    font-family: 'LibreFranklin700';



}
.blog_photo{
height: 390px;

}
.blog_text_card{
background-color: #191919;
height: 390px;
width: 320px;
text-align: left;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.blog_card{
    display: flex;
    
}


.blog_text_1{
    display: inline-block;
    color: #e32879;
    font-size: 14px;
    margin-right: 8px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'LibreFranklin400';
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-right: 80px;

}
.blog_text_2{

    color: #ffffff;
    font-weight: 700;
    line-height: 32px;
    font-family: 'LibreFranklin700';
    font-size: 24px;
    margin-bottom: 20px;
    margin-right: 10px;



}
.blog_text_3{

    font-size: 16px;
    color: #b3b3b3;
    font-family: 'LibreFranklin400';
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
    margin-right: 30px;

}
.author_photo{
height: 53px;
width: 50px;
border-radius: 50%;
}
.author_text_1{

    font-family: 'LibreFranklin700';
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 18px;
}
.author_text_2{
font-size: 12px;
color: #e32879;
font-family: 'LibreFranklin400';
text-transform: uppercase;
letter-spacing: 1px;

}
.author{
    display: flex;
    gap: 15px;
    margin-right: 70px;
}
.blog_cards{
display: flex;
justify-content: center;
align-items: center;
margin-top: 60px;
gap: 30px;
}
.black_6{
    background: #191919;
    height: 450px;

}
.sections{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.hazze_text{
    font-size: 35px;
    color: #ffffff;
    font-weight: 700;
    font-weight: bold;
    font-family:'Poppins700';
    
}
.hazze_text_sub{
    color: #e32879;
    margin-top: 10px;



}
.hazzes{
    display: flex;
}

.hazze_text_par{
font-size: 16px;
color: #b3b3b3;
line-height: 30px;
font-family: 'LibreFranklin400';



}
.hazze_section{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-right: 110px;

    margin-bottom: 50px;
}
.usefull_section{

    margin-bottom: 90px;
    margin-right: 150px;


}
.join_section{
    margin-right: 150px;
    margin-bottom: 90px;


}
.insta_section{
    margin-bottom: 90px;

}
.joininsta_section{

    display: flex;
    gap: 10px;
}

.usefull_section_text{
font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'LibreFranklin700';

}
.usefull_section_par{
font-size: 16px;
    color: #b3b3b3;
    line-height: 36px;
    font-family: 'LibreFranklin400';

}
.join_section_text{
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'LibreFranklin700';
    margin-bottom: 15px;


}
.join_section_par{
    font-size: 16px;
    color: #b3b3b3;
    line-height: 26px;
    font-family: 'LibreFranklin400';
    margin-bottom: 10px;


}
.inputs{
    font-size: 14px;
    height: 50px;
    color: #b3b3b3;
    border: 1px solid #707070;
    padding-left: 25px;
    background: #191919;
    width: 100%;
    margin-bottom: 10px;




}
.buttons{
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    display: block;
    background: #e32879;
    border: none;
    padding: 12px 0;
    width: 100%;



}

.insta_section_text{
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'LibreFranklin700';
    margin-bottom: 15px;
    margin-bottom: 20px;



}
.insta_photo{
height: 80px;
width: 80px;


}
.copyright_text{
    font-size: 16px;
    color: #b3b3b3;
    line-height: 26px;
    font-family: 'LibreFranklin400';
    margin-bottom: 10px;
    text-align: center;

}
.bi-suit-heart{
color: #e32879;
}


/*Responsive*/


@media (max-width: 1200px) {
    .nav__right {
        margin-left: 20%;
    }
    .photo_1 {
        width: 100%;
        height: auto;
    }
    .context_cards {
        flex-wrap: wrap;
    }
}

@media (max-width: 992px) {
    .nav__father {
        flex-direction: column;
        align-items: center;
    }
    .nav__left {
        margin-left: 0;
        justify-content: center;
    }
    .nav__right {
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
        gap: 15px;
        margin-top: 20px;
    }

    .photo_title {
        flex-direction: column;
        padding: 40px 20px;
    }
    .text {
        margin-left: 20px;
        padding-top: 150px;
    }
    .primary_btn {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .text_sub {
        font-size: 32px;
    }
    .text_1, .text_1_about {
        font-size: 14px;
    }
    .context_card {
        width: 90%;
    }
    .text {
        margin-left: 20px;
        padding-top: 100px;
    }
    .container {
        padding: 20px;
    }
    .image {
        height: auto;
        padding: 100px 20px;
        background-position: center;
    }
    .black, .black_2 {
        height: auto;
        padding-bottom: 50px;
    }
     .text_sub_2_second{
        text-align: left;
    }
        .text_sub_2_first{
        text-align: left;
    }
    .primary_btn{
       margin-right: 67%;
    }
}

@media (max-width: 480px) {
    .text_sub {
        font-size: 24px;
        text-align: left;
    }
    .context_card {
        padding: 20px;
    }
    .design_image {
        height: 40px;
        width: 40px;
    }
    .text_sub_2 {
        font-size: 14px;
        
    }
    .text_sub_2_second{
        text-align: left;
    }
}



@media (max-width: 992px) {
    .gray {
        height: auto;
        padding: 60px 20px;
        text-align: center;
    }

    .black_3 {
        height: auto;
        padding: 40px 20px;
    }

    .images {
        flex-direction: column;
        padding-left: 0;
        align-items: center;
        margin-top: 100px;
    }

    .portfolio_img_1{
           width: 600px;
        height: 800px;


    }
 

      .portfolio_img_2,
    .portfolio_img_3,
    .portfolio_img_4 {
        width: 600px;
        height: 400px;
    }

    .image_3-4 {
        flex-direction: column;
        align-items: center;
    }

    .image_1-2-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icons {
        gap: 10px;
    }

    .black_4 {
        height: auto;
        /*padding: 50px 20px;*/
    }

    .number_counter_items {
        flex-direction: column;
        text-align: left;
        margin-left: 80px;
        gap: 40px;
    }

    .number_text,
    .counter_items {
        padding-left: 0;
    }

    .counter_item {
        flex-direction: column;
        gap: 20px;
    }

    .primary_btn_2 {
        margin-right: 0;
        justify-content: center;
    }

    .photo_cards {
        flex-direction: column;
   align-items: center;
        margin-top: 50px;
    }

    .photo_card {
        width: 70%;
        display: flex;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 30px 20px;
    }

    .testmonial_texts {
        text-align: left;
        margin-top: 20px;
    }

    .testmonial_1 {
        margin-top: 0;
    }
}

@media (max-width: 576px) {
  .photo_card{
    display: flex;
    gap: 35px;
       height: 310px;
       width: 450px;
  }
  .testmonial_1{
    margin-bottom: 70px;
    margin-left: 20px;

  }
      .number_text {
        flex-direction: column;

    }

        .portfolio_img_1{
           width: 600px;
        height: 900px;


    }

    .text_number {
        font-size: 28px;
      text-align: left;
    }
    .text_1_number{
       text-align: left;

    }

    .number_number {
        font-size: 36px;
    }

    .counter_text_1 {
        font-size: 18px;
    }

    .counter_text_2 {
        font-size: 14px;
    }

    .primary_btn_2 {
        width: 40%;
        font-size: 16px;
        padding: 10px;
    }

    .bi-link-45deg, .bi-search {
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 50px;
    }
}


@media (max-width: 992px) {
   
    .pink_photo {
        height: 470px;
        padding: 40px 20px;
        text-align: center;
    }

    .pink_text {
        font-size: 30px;
    }

    .pink_text_2 {
        font-size: 14px;
        line-height: 24px;
    }

    .pink_btn {
        font-size: 14px;
        padding: 10px 24px;
    }

   
    .black_5 {
        height: auto;
        padding: 40px 20px;
    }

    .members {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .member_item {
        flex-direction: column;
        align-items: center;
    }

    .member_1 {
        width: 470px;
        
        height: 430px;
    }

    .member_item_card {
        width: 90%;
        height: auto;
        padding: 30px 20px;
    }

    /* BLOG SECTION */
    .gray_2 {
        height: auto;
        padding: 60px 20px;
    }

    .blog_title_sub {
        font-size: 32px;
        text-align: center;
    }

    .blog_cards {
        flex-direction: column;
        align-items: center;
        gap: 40px;
          
    }

    .blog_card {
        flex-direction: column;
      
    }

    .blog_photo {
        width: 500px;
        height: 390px;
    }

    .blog_text_card {
        width: 100%;
        height: auto;
        padding: 20px;
        width: 500px;
          height: 350px;
          
    }
    .blog_text_1{
    margin-right: 260px;

    }

    .blog_text_2 {
        font-size: 20px;
        line-height: 28px;
        margin-right: 230px;
    }

    .blog_text_3 {
        text-align: left;
                margin-right: 220px;

    }

    .author {
        justify-content: center;
        margin-right: 250px;
    }
}

@media (max-width: 576px) {
    .pink_text {
        font-size: 40px;
    }

    .pink_btn {
        width: 40%;
       height: 11%;
       
       justify-content: center;
    }

    .blog_text_2 {
        font-size: 18px;
    }

    .author_text_1 {
        font-size: 16px;
    }

    .author_text_2 {
        font-size: 10px;
    }

    .jg {
        font-size: 18px;
    }

    .dg {
        font-size: 10px;
    }

    .member_item_card {
        font-size: 14px;
    }

    .blog_title_1,
    .blog_title_sub {
        text-align: center;
    }
}


@media (max-width: 992px) {
    .sections {
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 20px;
    }
    .black_6{

        height: 1500px;
    }

    .hazze_section,
    .usefull_section,
    .join_section,
    .insta_section {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .joininsta_section {
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .input_button {
        width: 100%;
    }

    .inputs,
    .buttons {
        width: 100%;
    }

    .insta_photos_1,
    .insta_photos_2 {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .insta_photo {
        width: 30%;
        height: auto;
    }

    .copyright_text {
        padding: 0 20px;
    }
}

@media (max-width: 576px) {
    .hazze_text {
        font-size: 28px;
    }

    .usefull_section_text,
    .join_section_text,
    .insta_section_text {
        font-size: 18px;
    }

    .usefull_section_par,
    .join_section_par {
        font-size: 14px;
    }

    .inputs,
    .buttons {
        font-size: 14px;
        height: 45px;
    }

    .insta_photo {
        width: 30%;
        height: auto;
    }

    .copyright_text {
        font-size: 14px;
        text-align: center;
    }
}























